<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign in</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://chromium.googlesource.com/external/github.com/twbs/bootstrap/+/v3.3.4/docs/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signIn.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
            <ul class="nav nav-pills justify-content-left">
                <h3 class="text-muted">BookStore</h3>
                <li role="presentation" class="nav-item nav-link"><a style="color: #000000" href="/">Home</a>
                </li>
                <li role="presentation" class="nav-item nav-link active"><a style="color: #000000" href="showSignIn">Sign In</a>
                </li>
                <li role="presentation"class="nav-item nav-link" ><a style="color: #000000" href="showSignUp">Sign Up</a>
                </li>
            </ul>
        </nav>
      </div>
      <div class="jumbotron">
        <h1>Sign in</h1>

        <form class="form-signin">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="notification is-danger">
                  {{ messages[0] }}
              </div>
          {% endif %}
        {% endwith %}

        <label for="inputName" class="sr-only">Name</label>
        <input type="nameoremail" name="inputNameorEmail" id="inputNameorEmail" class="form-control" placeholder="Name or Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>
      </form>
      </div>
      
      <footer class="footer">
        <p>&copy;Copyright</p>
      </footer>
    </div>
  </body>
</html>

